.breadcrumbs {
	margin-top: -10px;
	margin-bottom: 7px;
	li {
		display: inline-block;
		color: #939393;
		font-size: 11px;
			vertical-align: top;
		.divider {
			vertical-align: top;
			width: 10px;
			display: inline-block;
			text-align: center;
		}	
		a.home {
			display: inline-block;
			width: 15px;
			height: 17px;
			background-image: url('../assets/img/icons/home.png');
			background-position: 0 50%;
			background-repeat: no-repeat;	
		}
	}
}
