.payments-wrapper, .messages-wrapper{
	h3 {
		margin-bottom: 25px;

		@media (max-width: 768px) {
		  margin-bottom: 0;
		}
	}
}

.statement-wrapper {
	p {
		margin-bottom: 0;
	}

	.panel {
		margin-bottom: 0;
		box-shadow: 0;
	}
} 

.panel-default.summary {
		background-color: transparent;
		border-width: 0;
		border-color: transparent;

		.panel-body {
			padding: 0 0 20px;
			background-color: transparent;
		}

		.client-info {
			background-color: #01579B; 
			padding: 5px; 
		}
	}

.credit-wrapper {
	.panel-default.summary {
		.panel-body {
			padding: 0;
		}
	}

  .panel-body {
	@media (max-width: 768px){
	  padding: 0;
	}
  }
  
  .tab-content {
	margin-top: 20px;
  }
}

.statement-nav {
	p {
		display: inline-block;
	}

	.statement-accounts {
		@media (min-width: 1024px) {
			display: inline-block;
			line-height: 2;
		}

		>li {
			line-height: 18px;
			display: inline-block;

			@media (max-width: 1024px) {
				line-height: 30px;
			}

			>a {
	  			text-decoration: underline;
  			    padding: 0 5px 0 0;
			    color: #000;
			    line-height: 18px;

			    &:hover, &:focus {
			    	background-color: transparent;
			    }
			}	
		}
	}
}

.credit-wrapper {
	.well {
		p, h5 {
			display: inline-block;
		}
	}
}

.operation-wrapper {
	.accordion {
		margin-bottom: 0;

		.title {
			margin-bottom: 0;
		}

		.inner {
			padding-left: 0;
			margin-top: 0;
		}
	}

	.title.collapse {
		 visibility: visible;
	}
}

.reserved-wrapper {
	.card-details.table-title {
		td, a {
			color: #fff !important;
		}
		
	}
}

.settings-wrapper {
	.form-wrapper {
		.table-responsive {
			margin-bottom: 15px;
		}
	}
}

.login-wrapper {
	.form-wrapper, .modal {
	  @media(min-width: 1200px) {
		  padding: 60px 120px;
	  }
	}
  
	form {
		@media (min-width: 768px) {
			padding-bottom: 40px;
		}
	}
	
	.help-links {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #ddd;
	  	font-size: 12px;

		li {
			padding-bottom: 10px;
			padding-right: 10px;	
		}
	}

  .btn-group>.btn {
	margin-top: 20px;
	border-radius: 4px !important;

	&:first-child {
	  margin-left: 10px;
	  margin-right: 10px;
  	}
  }

  .form-group, .error-wrapper {
	border: 1px solid transparent;
  }
}

.messages-wrapper {
  .btn-toolbar {
	@media (min-width: 768px) {
	  margin-left: 5px;
	}
  }

  .unreadMail {
	color: #337ab7;
  }
}

input[name="loginForm:cancel"] {
	background-color: #ddd;
}
