table tr th,
table tr td {
 	font-weight: normal;
	text-align: center;

	-ms-word-break: keep-all;
	word-break: keep-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	&:first-child {
	  text-align: left;
	}
}

.accounts-wrapper,
.operation-details,
.template-wrapper,
.wrapper-cards {
	th:nth-child(2),
	td:nth-child(2) {
		text-align: left;
	}
}

.messages-wrapper {
  	table tr th,
	table tr td {
	  	text-align: left;
	}
}

.deposit-rates {
	thead tr + tr th:first-child {
		text-align: center;
	}
}

td.sum-cell {
    text-align: right;
}

th.date-sell,
td.date-sell {
   text-align: left;
}

.main-curr {
	tr:first-child + tr th {
		text-align: right;
		padding-right: 10px;
	}
}

table tr:first-child th:before,
table tr:first-child td:before {
	content: none;
}

.table-title {
 	background-color: #01579B;
 	padding: 3px 5px;
	margin-bottom: 0;
 	color: #fff;
 	font-weight: normal;
 	text-transform: none;
 	text-align: left;
 	width: 100%;
}

.theader  {
	background-color: #ededed;
	font-size: 86%;
}

.table {
	> thead {
		> tr {
			> th {
				vertical-align: middle;
			  	border-bottom: 0;
			}
		}
	}

	> tbody {
		.main-account,
		.multi-currency {
			border-bottom: 0;

			.item-number > a {
				color: #2093d2;
			}
		}

		.item-number > a {
			color: #2093d2;
		}

		> .sub-account {
			border-top: 0;
			border-bottom: 0;

			> td {
				border-top: 0;
				border-bottom: 0;
				font-weight: 300;
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}

		.sub-account.text-muted {
			>td {
				color: #777 !important;		
			}
		}

		.credit-details {
			font-size: 86%;

		  @media(max-width: 768px) {
			  padding-top: 10px;
		  }
		}

		.card-details {
			border-bottom: 0 !important;

			> td {
				border-top: 0;
			}
		}
	}

	.type-cell {
		width: 120px;
	}

	.name-cell {
		width: 185px;	
	}

	.action-cell {
		width: 210px;
	}

	.account-name {
		font-weight: 700;
		font-size: 86%;
		display: block;
	}

	.glyphicon {
		padding-right: 5px;
	}
}

.glyphicon-ban-circle {
	color: #a94442;
}

.table-responsive>.table>tbody>tr>td {
  @media (max-width: 768px) {
	padding-top: 15px;
	padding-bottom: 15px;
  }
}

.cell-amount {
	width: 75px;
}
	
.reserved-wrapper {
	.cell-amount {
		width: 130px;
	}
}

.cell-date {
	@media (min-width: 1024px) {
		width: 150px;
	}
}

.item-number {
  padding: 2px 5px;
}

.table-responsive {
	margin-bottom: 15px;

	@media (min-width: 1024px) {
		min-height: 65px;
	}

	@media (max-width: 1024px) {
		padding: 3px;
	}
}

.tab-content {
  .table-responsive {
	@media (min-width: 1024px) {
	  min-height: 0;
	}
  }
}

.template-wrapper {
	.table {
		.sub-account {
			border-top: 1px solid #c6c6c6;
			border-bottom: 1px solid #c6c6c6;

			td {
				border-top: 1px solid #c6c6c6;
				border-bottom: 1px solid #c6c6c6;
			}

			> .item-number {
				font-size: 100%;
			}
		}

		.btn {
			margin-right:3px;
			margin-left: 3px;
		}
		.glyphicon {
			padding-right: 5px;
		}
		.glyphicon-ok {
			color: green;
		}		
		.glyphicon-remove {
			color: red;
		}		
	}
}

.statement-wrapper,
.credit-wrapper {
	.panel-default.summary {
		.table-responsive {
			margin-bottom: 0;
		}

		.table {
			> tbody > tr > th {
				width: 140px;
			}
		}
	}

	.statement-details {
		padding: 3px;
		margin-bottom: 0;
	    font-weight: normal;
	  	text-align: right;
	}

	.description {
		width: 450px;
		text-align: left;
	  	font-size: 90%;
	}

	.client-info {
		table tr th, 
		table tr td {
			color: #fff;
		}

		.table-condensed {
			 >tbody	 {
			 	>tr {
					border-bottom: 0;

					>th, >td {
						text-align: left !important;
						padding: 5px;
						border-top: 0;
						border-bottom: 0;

						&:first-child {
							width: 80px;
						}
					}
			 	}
			}
		}
	}
}

.payments-wrapper {
	.table {
		.glyphicon {
			display: block;
			text-align: center;
		}
	}
}

.accounts-wrapper .table > thead > tr:first-child > th,
.payments-wrapper .table > thead > tr:first-child > th,
.reserved-wrapper .table > thead > tr:first-child > th,
#BalanceTable > thead > tr:first-child > th,
.operation-history.table > thead > tr:first-child > td {
	padding: 0;
}

.credit-wrapper {
	.well {
		border-radius: 0;

		.table {
			>tbody {
				>tr {
					border: 0;

					>th {
						vertical-align: middle;
						width: 200px;
						border-top: 0;
					}

					>td {
						vertical-align: middle;
						border-top: 0;
					}	
				}
			}
		}

		.table-responsive {
			margin-bottom: 0;
		}
	}

	.panel-body {
		.table {
			>tbody {
				>tr:first-child {
					>th {
						border-top: 0;
					}

					>td {
						border-top: 0;
					}
				}

				>tr:last-child {
					border-bottom: 0;
					font-weight: 700;

					>th {
						font-weight: 700;
						text-align: right;
					}
				}
			}
		}

	  .table-responsive:not(.client-info) {
	    .table.table-condensed {
		  tbody {
			tr {
			  th {
				@media(min-width: 768px) {
				  width: 65%;
				}
				@media(max-width: 768px) {
				  font-weight: 700;
				  display: inline-block;
				  padding-top: 10px;
				  padding-bottom: 10px;
				  border-top: 0;
				  border-bottom: 0;
				}
			  }
			  td {
				@media(max-width: 768px) {
				  padding-top: 10px;
				  padding-bottom: 10px;
				  display: inline-block;
				  border-top: 0;
				  border-bottom: 0;
				}
			  }
			}
			tr:first-child {
			  @media(max-width: 768px) {
				border-bottom: 1px solid #ddd;
			  }
			}
		  }
		}
	  }
	}
}

.operation-details, .rmz-info {
	margin-bottom: 0;
	border: 0;

	tr {
		border-bottom: 0;

		&:first-child td {
			border-top: 0;
		}
	}

	td {
		&:first-child {
			width: 40%;
		}
	}
}

.single-message-wrapper .table-condensed {
	>tbody {
		>tr {
			&:first-child td {
				@media (max-width: 768px) {
				  border-top: 1px solid #ddd;
				}
			}
			>td {
				&:first-child  {
					width: 25%;
					font-weight: 700;

				  	@media (max-width: 767px) {
						width: 100%;
					}
				}

			  	@media (max-width: 767px) {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.currency-rates {
	.main-curr {
		margin-bottom: 0;
	}

	.currency {
		width: 250px;
	}

	.rates {
		width: 112px;
	    text-align: right;
  		padding-right: 15px;
	}

	.accordion {
		.title {
			float: right;
		}

	  	.table {
			@media (max-width: 768px) {
				min-width: 562px;
			}
		}
	}
}

.deposit-wrapper {
	.table {
		margin-bottom: 0;
	}
}

.import-confirmation table tr td, 
.import-confirmation table tr th {
	&:first-child {
		width: 10%;
	}
}

.wrapper-cards {
	table tr td:last-child {
		text-align: left;
	}
}

.closed-account, 
.closed-account a,
.closed-account tr,
.closed-account td {
	color: #b0b0b0 !important;
	cursor: default !important;
}

.accounts-wrapper {
  input[type='checkbox'] {
	@media (max-width: 768px) {
		display: none;
	}
  }

  .card-details {
	  @media (min-width: 1024px) {
		  font-size: 85%;
	  }
  }
}

.table {
  .description a img {
		max-width: 50px;
  }
}
